<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding center text-center class="bg-image">
  <ion-title class="titletext">Registration</ion-title>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Email" [(ngModel)]="email_address" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Confirm Email" [(ngModel)]="email_address_confirm" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block class="reg" (click)="goRegister()">Register</button>
</ion-content>

