<ion-content padding center text-center class="bg-image">
  <ion-title>Title</ion-title>
<ion-list>
  <ion-item>
    <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
</ion-list>
  <button ion-button block (click)="login()">Login</button>
  <button ion-button block class="reg" (click)="goRegister()">Register</button>
</ion-content>
