page-home {
  ion-title * {
    margin-top: 30vh;
    margin-bottom : 5vh;
    color : black;
  }
  .reg {
    background-color : white;
    color : black;
  }
  .bg-image {
    background-image: url("../assets/imgs/login-bg.jpg");
  }
  .item {
    background-color: transparent;
  }
  .input {
      color: white;
  }
}
