<!--
  Generated template for the ActivitesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>activites</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="card">
    <ion-item>
      <ion-avatar item-end>
        <img src="../assets/imgs/login-bg.jpg">
      </ion-avatar>
      <h2>Computer Soc</h2>
      <h3>計通蕭</h3>
      <p>1-5-2017</p>


    </ion-item>


    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <div class="f20" style="background-image:'../assets/imgs/w.png'"></div>
      </ion-col>

      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><img src="../assets/imgs/w.png" class="card-thumbnail ">
      </ion-col>
      <ion-col></ion-col>
    </ion-row>



    <ion-card-content>
      <h1>Title</h1>
      <p>peter is handsome peter is handsome peter is handsome peter is handsome</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-item>
      <ion-avatar item-end>
        <img src="../assets/imgs/login-bg.jpg">
      </ion-avatar>
      <h2>Computer Soc</h2>
      <h3>計通蕭</h3>
      <p>1-5-2017</p>


    </ion-item>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><img src="../assets/imgs/w.png" class="card-thumbnail ">
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-card-content>
      <h1>Title</h1>
      <p>peter is handsome peter is handsome peter is handsome peter is handsome</p>
    </ion-card-content>
  </ion-card>
</ion-content>
