<!--
  Generated template for the FirstpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>

  <ion-tabs [selectedIndex]="myIndex">
    <ion-tab [root]="tab1Root" tabTitle="Activitites" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Profile" tabIcon="contacts"></ion-tab>
  </ion-tabs>
</ion-content>
